/* Remove left-sidebar layout and sidebar */
.left-sidebar .content-area {
  width: 100% !important;
  float: none !important;
}
.left-sidebar .woo-sidebar {
  display: none !important;
}

/* Restore proper input sizing */
input,
.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  width: 100%;
  max-width: 100% !important;
}

.site,
#page,
.site-header .header-wrap,
.col-full {
  max-width: none;
  width: 100% ;
  box-sizing: border-box;
	padding-left:24px;
	padding-right: 24px;
}


.global-nav {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  position: relative; /* changed from absolute */
  top: 0;
  z-index: var(--z-modal);
  right: 0;
  font-size: 17px;
  letter-spacing: 0.09px;
	margin-left: auto;
	margin-right: 180px;
	width: fit-content;
}






